/*---------
Reset css
----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

/*---------
General
----------*/
body {
  font-size: 1.6rem;
  background-color: #f6f8f9;
}

/*------containers--------*/
.container {
  width: min(80%, 100rem);
  margin-inline: auto;
  background-color: #fff;
}

.container-content {
  padding-inline: 8%;
}

/*------buttons--------*/

.button {
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

.button.primary {
  background-color: transparent;
  border: 0.2rem solid #47adf1;
  color: #fff;
  background-color: #47adf1;
  transition: background 400ms ease, border 400ms ease;
}

.button.primary:hover {
  background-color: #3682b4;
  border: 0.2rem solid #3682b4;
}

.button.secondary {
  background-color: transparent;
  border: 0.2rem solid #ccc;
  color: #ccc;
  transition: background 300ms ease, color 300ms ease;
}

.button.button.secondary:hover {
  background-color: #ccc;
  color: #fff;
}

/*------type task colors------*/

.list-element small.blue {
  background-color: #45abea;
}
.list-element small.purple {
  background-color: #9c72e4;
}
.list-element small.green {
  background-color: #64c0a9;
}
.list-element small.orange {
  background-color: #f29e33;
}
.list-element small.pink {
  background-color: #d863a1;
}
.list-element small.light-green {
  background-color: #b0c926;
}

/*------status colors------*/
.list-element .status.done {
  color: #69c3ae;
  border-color: #69c3ae;
}

.list-element .status.not-done {
  color: #ec6963;
  border-color: #ec6963;
}
/*---------
Header
----------*/

header {
  background-color: #fff;
  padding: 1.5rem 1rem;
}

header img#logo {
  vertical-align: middle;
}

header h1 {
  display: inline-block;
  font-size: 4rem;
  vertical-align: middle;
}

/*---------
Main
----------*/

main {
  padding-bottom: 5rem;
  margin-top: 5rem;
  border-radius: 1rem;
}

/*-----------
Section Action buttons
------------*/
section.action {
  border-bottom: 0.2rem solid #f6f8f9;
  padding: 2rem 0 1.5rem 0;
}

/*--------------
Section task
--------------*/
.task {
  margin-top: 3rem;
}

.open,
h3.title-task {
  line-height: 2.4rem;
  vertical-align: middle;
}

h3.title-task {
  color: #42464f;
  display: inline-block;
  font-size: 2.4rem;
}

.list-element {
  margin-block: 1rem;
}

.list-element .status {
  border: 0.2rem solid black;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  line-height: 3rem;
  vertical-align: middle;
  border-radius: 50%;
  text-align: center;
  margin-inline: 0.5rem;
}

.list-element p {
  display: inline-block;
  font-weight: 600;
  line-height: 3rem;
  vertical-align: middle;
}

.list-element small {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  color: #fff;
  background-color: #ccc;
}
